<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoList</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>


    <div class="allpage">

        <div class="new-todo">
            <input type="text" id="new-todo-input">
            <button id="add-todo-btn" class="addBtn">ADD</button>
        </div>

        <div class="container">
            <div id="todos-container" class="leftBox">
                <h1>To Do List</h1>

            </div>
            <div id="done" class="rightBox">
                <h1>Done</h1>

            </div>

        </div>
    </div>

    <script src="/main.js"></script>
</body>

</html>